

  .glyph-icon {
     -fx-fill:blue;
    }

    .button{
          -fx-font-family:Arial Black;
           -fx-font-size: 16px;
          -fx-text-fill:BLUE;
       -fx-font-size:20px;
         -fx-font-weight:bold;
           -fx-background-color:yellow;
    }

        .button:hover{
         -fx-text-fill:Yellow;
           -fx-font-size:20px;
             -fx-font-weight:bold;
              -fx-border-width:2px;
               -fx-border-color:white;
                -fx-background-color:red;

        }



.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #6622CC;
}

.table-view .column-header .label{
   -fx-text-fill: yellow;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}




.table-column{

    -fx-font-weight: bold;
    -fx-font-size: 20px;

}


.table-row-cell:selected{
 -fx-background-color:red;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}



#col1{
        -fx-font-family:Arial Black;
           -fx-font-size: 16px;
          -fx-text-fill:BLUE;
       -fx-font-size:20px;
        -fx-font-weight:bold;
}

#col2{
        -fx-font-family:Arial Black;
           -fx-font-size: 16px;
          -fx-text-fill:BLUE;
       -fx-font-size:20px;
        -fx-font-weight:bold;
}


#col3{
        -fx-font-family:Arial Black;
           -fx-font-size: 16px;
          -fx-text-fill:BLUE;
       -fx-font-size:20px;
        -fx-font-weight:bold;
}







