
.root{

  -fx-background-color:yellow;
   -fx-alignment:Center;
}

#lbPlease{
 -fx-text-fill:BLUE;
   -fx-font-size:30px;
     -fx-font-weight:bold;

}


.glyph-icon:hover {
   -fx-fill:red;
  }

  .glyph-icon {
     -fx-fill:#3318c9;
    }

    .button{
          -fx-font-family:Arial Black;
           -fx-font-size: 16px;
          -fx-text-fill:BLUE;
       -fx-font-size:20px;
         -fx-font-weight:bold;
           -fx-background-color:transparent;





    }

        .button:hover{
         -fx-text-fill:RED;
           -fx-font-size:20px;
             -fx-font-weight:bold;
              -fx-border-width:2;
               -fx-border-color:red;

        }

        .text-field{
        -fx-font-family:Arial Black;
      -fx-text-fill:BLUE;
         -fx-font-size:40px;
         -fx-font-weight:bold;
         -fx-alignment:Center;

        }
        .password-field{
                -fx-font-family:Arial Black;
                -fx-text-fill:BLUE;
                 -fx-font-size:30px;
                 -fx-font-weight:bold;
                 -fx-alignment:Center;

        }

     /*   #tfBussiness{

                -fx-font-family:Arial Black;
                -fx-text-fill:BLUE;
                 -fx-font-size:30px;
                 -fx-font-weight:bold;
                 -fx-alignment:Center-Left;
        }
*/